@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  background-color: white;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  box-shadow: -0.8px -0.8px 8px 2.4px #7c5959f6;
  /* width: 100%;
  top: 0px; */
}
.header-content-1 {
  display: flex;
  align-items: center;
}
.log {
  margin-left: 5px;
}
.v-line {
  height: 28px;
  border-left: 1px solid #0000009c;
  margin-inline: 10px;
}
.bit {
  font-size: 25px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: #373737;
}

.navbtn {
  font-size: 25px;
  font-weight: 100;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #373737;
  text-decoration: none;
}
.navbtn > img {
  margin-right: 10px;
  height: 1.3vw;
}
.header-content-2 > ul {
  display: flex;
  align-items: center;
}
.header-content-2 > ul > li {
  align-items: center;
  list-style: none;
  padding: 10px;
}
.gaq {
  border-radius: 23.5px;
  background: #184655;
  box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 30px;
  padding: 5px 30px;
  font-weight: 500;
  border: none;
  margin-left: 25px;
  margin-right: 10px;
  overflow: hidden;
  cursor: pointer;
}
.menu-bar {
  display: none;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  background-image: url(images/background\ img.jpg);
  margin: 30px;
  height: 748px;
  flex-wrap: wrap;
}

.s-text > h1 {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 68px;
  color: #184655;
  margin-left: 50px;
}
.search-bar {
  overflow: hidden;
  border-radius: 19px;
  display: flex;
  width: 546px;
  background-color: #ffffff;
  margin-left: 50px;
  /* padding: 20px 0px; */
}
#search {
  flex: 2;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  border: none;
  outline: none;
  line-height: 118%;
  color: #727272;
  width: 546px;
}
.s-btn {
  margin-inline: 20px;
}
#search-btn {
  flex: 1;
  border: none;
  height: 78.93px;
  border-radius: 0px 19px 19px 0px;
  background: #184655;
  text-align: center;
  color: #fff;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 700;
  line-height: 118%;
  padding: 25px 10px;
  cursor: pointer;
}
.small {
  display: flex;
  width: 335px;
  justify-content: space-between;
  margin-left: 70px;
  margin-top: 20px;
  cursor: pointer;
}
.small > p > a {
  font-size: 21px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  color: #53748c;
  text-decoration: none;
  padding-right: 48px;
}

#pep {
  height: 303.36px;
}

.latest-blog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px;
  margin: 30px;
  padding: 20px;
  background-image: url(images/Robobg.jpg);
  box-shadow: 1px 2px 8px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 2px 8px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 2px 8px 3px rgba(0, 0, 0, 0.3);
}
.card-img > img {
  border-radius: 15px;
  width: 43vw;
  height: 34vw;
  border-radius: 19px;
  margin-right: 30px;
}
.maintext {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}
#text {
  color: #404040;
  font-size: 42px;
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 20px;
}
.row {
  display: flex;
  justify-content: space-between;
  color: rgba(111, 110, 110, 0.84);
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 20px;
  padding-right: 20px;
}
.para {
  color: #464343;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 100px;
}

/* <!-- blog cards --> */

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  /* gap: 15px; */
  flex-wrap: wrap;
}
.blog-content {
  overflow: hidden;
  width: 29vw;
  border-radius: 20px;
  background: linear-gradient(
    117.42deg,
    rgba(249, 247, 247, 0.1) 19.16%,
    rgba(249, 247, 247, 0.4) 80.19%
  );
  box-shadow: 0px 2px 20px -1px #00000040;
  margin: 15px;
}
.blog-img > img {
  width: 29vw;
  border-radius: 20px;
}
.blog-row {
  font-size: 25px;
  font-weight: 500;
  color: #4a4848;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 10px;
}
.card-info {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  color: #6f6e6e;
  margin-inline: 20px;
  margin-top: 10px;
}
.blog-para {
  font-size: 16px;
  font-weight: 400;
  text-align: justified;
  margin-inline: 15px;
  margin-top: 10px;
}
.see {
  font-size: 20px;
  font-weight: 100;
  text-align: right;
  width: 100%;
  margin-bottom: 10px;
}
.see a {
  color: #213949;
  text-decoration: none;
  margin-inline: 30px;
}

/* ------------------------------------------------------- */
.footer {
  background-image: url(images/FooterBg.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  height: 707px;
  border-radius: 30px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  flex-wrap: wrap;
}
.content {
  margin-left: 100px;
}
.text1 {
  color: #000;
  font-size: 40px;
  font-weight: 100 bold;
}
.text2 {
  color: #000;
  font-size: 57px;
  font-weight: bold;
}
.text3 {
  color: #000;
  font-size: 40px;
  font-weight: 400;
}
.footer-button {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  border-radius: 23.5px;
  background: linear-gradient(122deg, #2c56aa 0%, #3bb08b 100%);
  box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 5px 20px;
  margin-top: 90px;
}
.f-img > img {
  width: 40vw;
  height: 30vw;
  margin-left: 40px;
}
/* Media-Queries */
@media screen and (max-width: 1100px) {
  .latest-blog {
    flex-direction: column;
  }
  nav {
    width: 100%;
    box-shadow: none;
  }
  .f-img {
    width: 90vh;
    align-items: center;
    padding-left: 15vh;
  }
  .f-img > img {
    width: 60vh;
    /* padding-left: 100px; */
    align-items: center;
  }

  .footer {
    justify-content: center;
    align-items: center;
  }
  .text1 {
    align-items: center;
    justify-content: center;
  }
  .text2 {
    align-items: center;
    justify-content: center;
  }
  .text3 {
    align-items: center;
    justify-content: center;
  }
  .footer-button {
    align-items: center;
    width: 70%;
    font-size: 10px;
    font-weight: 100;
  }
  .s-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero{
    margin-inline: 30px;
    width: 100vh;
  }
  .latest-blog{
    width: 93vh;
    
  }
  .card-img>img{
    width: 80vh;
    height: 50vh;
  }
  .card {
    flex-direction: column;
    margin: 20px;
  }
  .blog-img>img{
    width: 100vh;
    margin-right: 20px;
  }
  .blog-content{
    width: 80vh;
  }
  .footer{
    width: 100vh;
  }
}

@media screen and (max-width: 840px) {
  .menu-bar {
    display: block;
    font-size: 40px;
    margin-inline: 20px;
  }
  nav {
    width: 100vh;
    box-shadow: none;
  }
  .navbtn {
    display: none;
  }
  .gaq {
    font-size: 15px;
  }
  .hero{
    margin-inline: 30px;
    width: 95vh;
  }
  .latest-blog{
    margin-left: 30px;
    margin-right: 10px;
    width: 88vh;
  }
  .footer-button {
    align-items: center;
    font-size: 25px;
    justify-content: center;
  }
  .card {
    width: 80vh;
    flex-direction: column;
    margin-inline: 20px;
  }
  .blog-content{
    width: 92vh;
    
  }
  .blog-img>img{
    width: 100%;
  }
  .footer {
    justify-content: center;
    align-items: center;
    width: 93vh;
    margin-inline: 30px;
  }
  /* .blog-img{
    width: 50vw;
  } */
  /* .blog-img>img{
    width: 61vw;
  } */
  /* .search-bar{
    width: 80%;
  }
  .text1{
    align-items: center;
  }
  .text2{
    align-items: center;
  }
  .text3{
    align-items: center;
  }
  .footer-button{
    align-items: center;
    font-size: 15px;
    justify-content: center;

  } */
}
