@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@100&display=swap");

* {
  margin: none;
  padding: none;
  font-family: "Roboto", sans-serif;
}
header {
  width: 1300px;
  height: auto;
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  background-color: white;
  box-shadow: -1px -1px 8px 3px #0000001a;
  border-radius: 70px;
  margin: 0%;
  display: flex;
  z-index: 1;
  transition: transform 0.1s, box-shadow 0.1s; /* Add transition for smooth effect */
}

header.zoom-out {
  transform: scale(0.5);
  transform-origin: top;
  box-shadow: -0.8px -0.8px 8px 2.4px #0000001a;
  position: absolute;
}

.logo {
  width: 230px;
  height: 66px;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

nav {
  display: flex;
  width: 1300px;
  margin: 20px;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.navigation li {
  display: inline;
  align-items: center;
  list-style: none;
  justify-content: space-between;
}

.navigation li a {
  color: #3b3939;
  font-weight: 500px;
  font-size: 25px;
  text-decoration: none;
  display: inline;
}

.item {
  width: 96px;
  height: 49px;
  top: 50px;
  left: 245px;
  padding: 10px;
  justify-content: left;
  font-size: 25px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0em;
  position: absolute;
  text-align: left;
}

#arrow {
  left: 760px;
  top: 62px;
  height: 18px;
  position: absolute;
}

.right1 {
  width: 94px;
  height: 26px;
  left: 780px;
  top: 58px;
  font-size: 22px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  padding-right: 15px;
  position: absolute;
}

#cart {
  top: 60px;
  left: 902px;
  height: 25px;
  width: 22px;
  position: absolute;
}

.right2 {
  width: 78.33px;
  height: 26px;
  top: 58px;
  left: 930px;
  font-size: 22px;
  font-weight: 300;
  line-height: 26px;
  padding-right: 10px;
  position: absolute;
}

.btn {
  width: 230px;
  height: 49px;
  top: 50px;
  left: 1050px;
  border-radius: 23.5px;
  background-color: #184655;
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  cursor: pointer;
  box-shadow: -0.5px -0.5px 1px 3px #00000040;
  margin-right: 0px;
  padding-right: 0px;
  position: absolute;
  border: none;
}

.hero {
  background-image: url(Rectangle\ 31.jpg);
  background-size: cover;
  display: flex;
  background-repeat: no-repeat;
  width: 1300px;
  height: 750px;
  top: 155px;
  left: 30px;
  border-radius: 30px; /* Updated border-radius to 30px */
  margin-top: 50px;
  position: relative;
}
p {
  width: 600px;
  height: 300px;
  top: 145px;
  left: 155px;
  font-family: "Poppins", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  font-size: 50px;
  font-weight: bold;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;
  color: #184655;
  position: absolute;
  margin-bottom: 10px;
  display: flex;
  white-space: pre-line;
}

.search-container {
  display: grid;
  padding: 10px;
  position: absolute;
  top: 340px;
  left: 140px;
  grid-template-columns: 1fr 1fr;
  font-family: "Roboto", sans-serif;
}

.item {
  overflow: hidden;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#search {
  width: 330px;
  height: 60px;
  border-radius: 19px 0px 0px 19px;
  font-size: 15px;
  border: none;
  outline: none;
  padding-left: 50px;
  background-image: url(icons8-search\ 1.png);
  background-repeat: no-repeat;
  background-position: left 20px center;
  background-size: 20px 20px;
  color: #727272;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  letter-spacing: normal;
  font-weight: lighter 100px;
}

#search-label {
  width: 190px;
  height: 62px;
  flex-shrink: 0;
  background-color: #184655;
  border-radius: 0px 19px 19px 0px;
  font-size: 28px;
  border: none;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}
#search-label > a {
  text-decoration: none;
  color: white;
}
.small {
  width: 600px;
  height: 25px;
  top: 405px;
  left: 140px;
  position: absolute;
}

.small li {
  list-style: none;
  justify-content: space-between;
  display: inline;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  padding-right: 70px;
}

.small li a {
  text-decoration: none;
  color: #53748c;
  font-size: 15px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.group {
  width: 474.9854431152344px;
  height: 350px;
  top: 150px;
  left: 780px;
  position: absolute;
  margin-top: 30px;
}

.latest-blog {
  background-image: url(Rectangle\ 28.png);
  background-size: auto;
  display: flex;
  background-repeat: no-repeat;
  width: 1300px;
  height: 600px;
  top: 980px;
  border-radius: 30px; /* Updated border-radius to 30px */
  position: absolute;
  margin: 20px;
  display: block;
}

.blog-image {
  top: 8px;
  left: 8px;
  width: 590px;
  height: 500px;
  border-radius: 35px;
  position: absolute;
}
.blog-text {
  width: 100%;
  height: 400px;
  left: 550px;
  position: absolute;
  overflow: hidden;
}
#text {
  word-spacing: normal;
  font-size: 43px;
  font-weight: 400 bold;
  line-height: 49px;
  letter-spacing: 0em;
  font-family: "Roboto", sans-serif;
  text-align: left;
  top: 50px;
  left: 90px;
  margin: 0px;
  padding: 0px;
  color: #404040;
  position: absolute;
  white-space: nowrap; /* Added to keep the text in a single line */
  text-overflow: ellipsis; /* Added to display ellipsis (...) for long texts */
}
.cont {
  width: 900px;
  top: 100px;
  left: 605px;
  position: absolute;
  list-style: none;
  text-align: left;
}
.cont li {
  width: 700px;
  display: inline;
  letter-spacing: 0em;
  color: #6f6e6e;
}
#list {
  margin-right: 450px;
}
.para {
  width: 610px;
  height: 300px;
  top: 120px;
  left: 640px;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 400px;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  color: #332e2e;
}
/* <!-- blog cards --> */
.box1 {
  position: relative;
  top: 1570px;
  left: 40px;
  width: 400px;
  height: 500px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px 0px black;
  border-radius: 20px;
  margin-right: 0px;
}

.box2 {
  position: relative;
  top: 1570px;
  left: 480px;
  width: 400px;
  height: 500px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px 0px black;
  border-radius: 20px;
  margin-right: 0px;
}

.box3 {
  position: relative;
  top: 1570px;
  left: 920px;
  width: 400px;
  height: 500px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px 0px black;
  border-radius: 20px;
  margin: 0%;
}

.blog-content {
  display: flex;
  justify-content: space-between;
}

.blog-content > div {
  position: absolute;
}

.image1,
.image2,
.image3 {
  width: 400px;
  height: 300px;
  border-radius: 20px;
}

.row1,
.row2,
.row3 {
  width: 100%;
  top: 280px;
  left: 15px;
  font-size: 21px;
  font-weight: bolder;
  line-height: 50px;
  letter-spacing: -0.005em;
  text-align: left;
  color: #4a4848;
  position: absolute;
}
.date-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #8a8a8a;
  left: 10px;
  line-height: 25px;
}

.left-info {
  flex: 1;
  text-align: left;
  position: absolute;
  left: 15px;
  margin-top: 40px;
}

.right-info {
  text-align: right;
  position: absolute;
  left: 310px;
  margin-top: 40px;
}
.para1,
.para2,
.para3 {
  width: 350px;
  top: 330px;
  left: 10px;
  font-family: "Roboto", sans-serif;
  color: #2b2929;
  font-size: 15px;
  font-weight: 100px;
  line-height: 25px;
  letter-spacing: 0em;
  display: flex;
  flex-direction: column;
  justify-content: inline;
  text-align: justify;
}

.see p,
.see2 p,
.see3 p {
  line-height: 10px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  margin-right: 0px;
  color: #213949;
}

.see a,
.see2 a,
.see3 a {
  width: 70px;
  height: 23px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 250px;
  left: 160px;
  font-size: 15px;
  font-weight: 10px;
}

.foot {
  background-image: url(Rectangle\ 31.jpg);
  background-size: cover;
  display: flex;
  background-repeat: no-repeat;
  width: 1300px;
  height: 700px;
  left: 40px;
  border-radius: 30px; /* Updated border-radius to 30px */
  margin-top: 1320px;
  position: absolute;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
}
.content {
  position: relative;
}
.text1 {
  width: 500px;
  height: 100px;
  position: absolute;
  top: 185px;
  left: 150px;
  font-weight: normal;
  font-size: 37px;
  line-height: 15px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-style: initial;
}
.text2 {
  width: 800px;
  height: 200px;
  font-weight: 600px;
  font-size: 59px;
  top: 212px;
  left: 145px;
  line-height: 25px;
  margin-top: 55px;
  color: #000000;
  font-family: "Roboto", sans-serif;
}
.text3 {
  width: 700px;
  height: 150px;
  top: 288px;
  left: 150px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0em;
  margin-top: 20px;
  color: #000000;
  font-family: "Roboto", sans-serif;

  /* border-radius: 0px 0px 30px 30px; */
}

.footer-image1 {
  top: 470px;
  left: 150px;
  position: absolute;
  border-radius: 0px 0px 30px 30px;
}

.footer-button {
  width: 251px;
  height: 49px;
  border-radius: 30px;
  cursor: pointer;
  background: linear-gradient(91.71deg, #2c56aa 14.14%, #3bb08b 84.43%);
  border: none;
  font-size: 25px;
  box-shadow: 2px 3px 2px 0px #00000040;
}
.footer-button > a {
  color: white;
  text-decoration: none;
}

.final {
  width: 530px;
  height: 370px;
  position: absolute;
  top: 200px;
  left: 720px;
  margin-bottom: none;
}

/* Media-Queries */
